<div class="hero-unit">

	<h1>Welcome to AKiRA Music Channel</h1>
	<p>
		Pages:
		<%= link_to "Soundcloud", "http://soundcloud.com/akiramusicchannel" %>
		

	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>

	</p>

</div>


